.navbar {
  display: flex;
  align-items: center;
  font-size: rem(16);

  .navbar-custom-menu {
    margin-left: auto;
  }

  // 
  @include media-breakpoint-up(xl) {}

  @include media-breakpoint-up(lg) {}

  @include media-breakpoint-up(md) {}

  @include media-breakpoint-up(sm) {}

  @include media-breakpoint-up(xs) {}

  // 
  @include media-breakpoint-between(md, xl) {}

  // 
  @include media-breakpoint-only(xs) {}

  @include media-breakpoint-only(sm) {}

  @include media-breakpoint-only(md) {}

  @include media-breakpoint-only(lg) {}

  @include media-breakpoint-only(xl) {}

  // 
  @include media-breakpoint-down(xl) {}

  @include media-breakpoint-down(lg) {}

  @include media-breakpoint-down(md) {}

  @include media-breakpoint-down(sm) {}

  @include media-breakpoint-down(xs) {}
}

.ball-toggle {
  // float: left;
  position: relative;
  padding: rem(10);

  .icon {
    color: $accent;
    font-size: rem(26);
  }

  &__count {
    position: absolute;
    right: rem(8);
    top: rem(8);
    width: rem(15px);
    height: rem(15px);
    background-color: $warning;
    text-align: center;
    border-radius: 50%;
    color: $light;
    font-size: rem(10px);
    padding-top: rem(1);

  }

  margin-right: 6%;
}

.calendar-block {
  margin-right: 6%;

}

.calendar-block,
.time-block {
  display: flex;
  align-items: center;
  line-height: 1;
  font-size: rem(16);

  .icon {
    font-size: rem(18);
    margin-right: rem(8);
    color: $warning;
    position: relative;
    top: rem(-1);
  }
}