include ../../_assets/bemto/bemto
- set_bemto_settings({ modifier: "--" })

include ../../blocks/mixin-wrap/mixin-wrap.pug
include ../../blocks/form-wrap/form-wrap.pug

include ../../blocks/header/_header.pug
include ../../blocks/footer/_footer.pug 
include ../../blocks/modal/_modal.pug
include ../../blocks/top-line/_top-line.pug
include ../../blocks/top-nav/_top-nav.pug 
include ../../blocks/header-block/_header-block.pug
include ../../blocks/s-form/_s-form.pug
include ../../blocks/sidebar/_sidebar.pug
include js-css.pug

doctype html
html(lang='', style='height: auto; min-height: 100%;')
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		// CSRF Token
		meta(name='csrf-token', content='Os0ZiRIvSxa8xr77R8R0cIYjzJpL8l6zRWSVvtr2')
		block title
			title title
		meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
		+allcss()
	block variables
	body.skin-blue.sidebar-mini(style='height: auto; min-height: 100%;' class= mainPage) 
		#app
			.wrapper(style='height: auto; min-height: 100%;')
				+header
				+sidebar
				.content-wrapper(style='min-height: 562px;')
					section.content
						// Верстка страницы заказа
						block pagecontent
							h3 content
					
					// Окончание верстки страницы заказа
				footer.main-footer
					.pull-right.hidden-xs
						b © 2019 Bethoven Digital
					strong
						| Техническая поддержка:
						| 067 544 01 52, Telegram @alex_ruks
				strong
					.control-sidebar-bg
			strong
		strong
		.autocomplete-suggestions
		
		//- +modal()
		+allcjs()